

<footer class="site-footer">
<div>
  <p><a class="site-footer-link" href="{{ site.baseurl }}/community/about">About LevelUp</a></p>
  <p><a class="site-footer-link" href="{{ site.baseurl }}/news">News &amp; Updates</a></p>
  <p><a class="site-footer-link" href="{{ site.baseurl }}/license">CC-BY-SA 3.0 License</a></p>
  <p><img src="https://img.shields.io/github/last-commit/levelupcc/level-up/gh-pages.svg" /> </p>
</div>
<div>
  <p><a class="site-footer-link" href="{{ site.baseurl }}/community/contribute/#how-can-i-provide-feedback">Contact</a></p>
  <p><a class="site-footer-link" href="{{ site.baseurl }}/community/contribute/#how-can-i-contribute-content">Contribute</a></p>
  <p><a class="site-footer-link" href="/community/contribute/#annotate-and-discuss-content-with-hypothesis">Annotate with Hypothes.is</a></p>
  <p><a class="site-footer-link" href="https://github.com/levelupcc/level-up" target="_blank">GitHub</a></p>
</div>
<div>
  <p><a class="site-footer-link" href="{{ site.baseurl }}/site-map">Site Map</a></p>
</div>
</footer>


<!-- Matomo Image Tracker-->
<img src="https://analytics.level-up.cc/matomo.php?idsite=1&amp;rec=1" style="border:0" alt="" />
<!-- End Matomo -->
