<footer class="site-footer">
  <a class="site-footer-link" href="{{ site.baseurl }}/about">About LevelUp</a>
  <a class="site-footer-link" href="{{ site.baseurl }}/news">News and Updates</a>
  <a class="site-footer-link" href="{{ site.baseurl }}/license">Creative Commons License</a>
  <a class="site-footer-link" href="{{ site.baseurl }}/site-map">Site Map</a>
  <iframe src="https://duckduckgo.com/search.html?width=200&site=the-engine-room.github.io/level-up&prefill=Search&bgcolor=ffffff" style="overflow:hidden;margin:0;padding:0;width:100px;height:30px;" frameborder="0"></iframe>
</footer>
