<header class="site-header">
  <h1>
    <a class="title" href="{{ site.baseurl }}/">{{ site.title }}</a>
  </h1>
  <h2>{{ site.description }}</h2>

  <nav class="site-nav">

    <ul>
      <li><a href="/trainer/">You, the Trainer</a></li>
        <ul>
          <li><a href="/trainer/">Be a Better Trainer</a></li>
          <li><a href="/trainer/">Golden Rules of Effective Training</a></li>
          <li><a href="/trainer/">Role and Responsibilities of a Digital Security Trainer</a></li>
          <li><a href="/trainer/">Setting Expectations for Participants, Organizers, and Yourself</a></li>
          <li><a href="/trainer/">How to Start an Effective Training</a></li>
          <li><a href="/trainer/">How to Handle Surprises During Training</a></li>
          <li><a href="/trainer/">Icebreakers and Energizers</a></li>
        </ul>
      <li><a href="/training/">Pre-Training</a></li>
        <ul>
          <li><a href="/training/">Training Organizing and Logistics</a></li>
          <li><a href="/training/">Physical and Operational Security</a></li>
          <li><a href="/training/">Psychosocial Underpinnings of Security Training</a></li>
          <li><a href="/training/">Creating "Safe Spaces"</a></li>
          <li><a href="/training/">LevelUp's Approach to Adult Learning</a></li>
          <li><a href="/training/">Using LevelUp's Trainer Curriculum</a></li>
          <li><a href="/training/">Planning your Training Agenda</a></li>
          <li><a href="/training/">Preparing Training Sessions</a></li>
        </ul>
      <li><a href="/session/">After a session</a></li>
        <ul>
          <li><a href="/session/">Was my Training Effective?</a></li>
          <li><a href="/session/">Following up with Participants</a></li>
        </ul>
      <li><a href="/community/">Community</a></li>
        <ul>
          <li><a href="/community/">Contribute and Collaborate</a></li>
            <ul>
              <li><a href="/community/">Content Hub on Github</a></li>
              <li><a href="/community/">Get in Touch</a></li>
            </ul>
          <li><a href="/community/">Community Resource and Tools</a></li>
            <ul>
              <li><a href="/community/">Guides and How Tos</a></li>
              <li><a href="/community/">Video, Games, and Tools</a></li>
              <li><a href="/community/">Training and Learning Research</a></li>
            </ul>
        </ul>
      <li><a href="/curriculum/">Curriculum</a></li>
        <ul>
          <li><a href="/curriculum/">Antivirus & Malware Essentials</a></li>
          <li><a href="/curriculum/">Safer Software Updating</a></li>
          <li><a href="/curriculum/">Data Backup Basics</a></li>
          <li><a href="/curriculum/">Storing and Securing Sensitive Data</a></li>
          <li><a href="/curriculum/">Safety Deleting Data</a></li>
          <li><a href="/curriculum/">Creating and Managing Strong Passwords</a></li>
          <li><a href="/curriculum/">Basic of Safer Browsing</a></li>
          <li><a href="/curriculum/">Safer Browsing for Identity Protection</a></li>
          <li><a href="/curriculum/">Safer Communication: PGP for Email Encryption</a></li>
          <li><a href="/curriculum/">Safer Communication: OTR for Instant Messaging and SMS Encryption</a></li>
          <li><a href="/curriculum/">Safer Communication: ZRTP for Voice Call Encryption</a></li>
          <li><a href="/curriculum/">Browsers for Anonymity and Circumvention</a></li>
          <li><a href="/curriculum/">Using Tails for Safer, Anonymous Workspaces</a></li>
          <li><a href="/curriculum/">Safer Practices for Social Media</a></li>
          <li><a href="/curriculum/">Basics of Mobile Devices</a></li>
          <li><a href="/curriculum/">Smartphone Safety and Privacy</a></li>
        </ul>
    </ul>

  </nav>
</header>
