{% capture html %}
<ul class="menu">
    {% if include.context == "/_pages/" %}
        <li class="{% if page.url == "/" %}active{% endif %}">
            <a class="menu-link" href="{{ site.baseurl }}/">{{ site.title }}</a>
        </li>
    {% endif %}

    {% assign entries = site.pages | sort: "weight" %}
    {% for entry in entries %}

        {% capture slug    %}{{ entry.url | split: "/"   | last                       }}{% endcapture %}
        {% capture current %}{{ entry.url | remove: slug | remove: "//" | append: "/" }}{% endcapture %}

        {% if current == include.context %}
          {% unless entry.hide == true %}
            <li class="{% if page.url contains entry.url %}active{% endif %}">
                <a class="menu-link" href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a>
                {% include navigation.html context=entry.url %}
            </li>
          {% endunless %}
        {% endif %}

    {% endfor %}
</ul>
{% endcapture %}{{ html | strip_newlines | replace:'    ','' | replace:'    ','' | replace:'  ',' ' }}
