<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <section class="section-block _post" itemprop="articleBody">
    <div class="post-meta">
      {% if page.author %}
        <p class="post-author" itemprop="author" itemscope itemtype="http://schema.org/Person">
          {{ page.author }}</p>
      {% endif %}
      <p class="post-date">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {{ page.date | date: "%m/%d/%Y" }}
        </time>
      </p>
    </div>

    <div class="post-content">
      <h2 itemprop="name headline">
        <a class="post-title-link" href="{{ post.url | prepend: site.baseurl }}">
          {{ page.title }}</a>
      </h2>
      <p class="summary">{{ page.summary }}</p>
      {{ content }}
    </div>
  </section>
</article>
