/* note: THIS IS VERY ROUGH AND WILL BE HEAVILY REFACTORED AS I GO ALONG */

.site-header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	height: 4.5rem;
	padding: 1.5rem 6%;
}

.site-header-title {
	font-size: 2.5rem;
	margin-right: 32rem;
}

.nav-block {
	flex-basis: 33%;
	margin-bottom: 15px;
}

.section-block {
	flex-basis: 100%;
	margin-bottom: 15px;
	min-height: 8.3rem;
	padding: 1rem;
}

.top-section-block {
	@extend .section-block;
	flex-basis: 66%;
	margin-left: 11px;
}

.main-block {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;

	min-height: 70rem;

	padding: 15px 50px 30px;
}

.site-footer {
	padding: 1rem 6%;
	height: 4rem;

	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.site-footer-link {
	margin-right: 2.4rem;
}
