/* note: THIS IS VERY ROUGH AND WILL BE HEAVILY REFACTORED AS I GO ALONG */

.site-header {
	display: flex;
	justify-content: center;
	height: 10vh;
	padding: 1.5rem 0;
}

.site-header-title,
.site-header-description {
	display: inline;
}

.site-header-title {
	font-size: 2.5em;
	margin-top: -.6rem;
	margin-right: 32rem;
}

.nav-block {
	min-width: 30.5vw;
	margin-bottom: 15px;
}

.section-block {
	min-width: 100%;
	min-height: 25vh;
	margin-bottom: 15px;
	padding: 1rem;
}

.top-section-block {
	@extend .section-block;
	min-width: 60vw;
	margin-left: 11px;
}

.main-block {
	padding: 15px 50px 30px;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.site-footer {
	padding: 1rem 6%;
	height: 7.1vh;
}
.site-footer-link {
	margin-right: 2.4rem;
}
