// TYPOGRAPHY

@import url(https://fonts.googleapis.com/css?family=Arvo:400,400italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);

$serif: "Arvo", serif;
$sans-serif: "Roboto", sans-serif;

:root {
	font: 16px $sans-serif;
}

h1, h2, h3, h4, nav {
	font-family: $serif;
}
h1, h2, h3, h4, nav {
	color: #24929B;
}
h4 {
	color: #F0A742;
}
h1 { font-size: 2.4rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.2rem; }
h4 { font-size: 1rem; }

.site-header-description {
	@extend :root;
	font-family: $serif;
	font-style: italic;
	color: white;
}

.nav-block > ul {
	@extend nav;
  font: $serif;
	font-size: 1.2rem;
  line-height: 2;
}

// BASE

.site-header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	height: 2.5rem;
	padding: 1.5rem 6%;
}

.site-header-title {
	font-size: 2.5rem;
	margin-right: 32rem;
}

.main-block {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 20px 70px 35px;
}


// BASE

.site-header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	height: 5rem;
	padding: 1rem 8%;
}

.site-header-title {
	font-size: 2.5rem;
	margin-right: 31rem;
}

.main-block {
	display: flex;
	justify-content: center;
	min-height: 40rem;
	padding: 20px 60px 30px;
}

.nav-block {
	flex-basis: 25%;
	height: 18rem;
	padding: 1rem;
	margin-bottom: 15px;
}

.section-block {
	flex-basis: 100%;
	margin-bottom: 15px;
	min-height: 16rem;
	padding: 3rem 4rem;
}

.section-block_top {
	@extend .section-block;
	flex-basis: 74%;
	height: 18rem;
	margin-left: 11px;
	padding: 3rem;
}

.section-block_post {
	@extend .section-block;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem 1rem 8rem;
}
.post-content {
	flex-basis: 69%;
}
.post {
	min-width: calc(100%);
}

.-shift {
	padding-left: 30%;
}


.site-footer {
	display: flex;
	align-items: center;
	height: 4rem;
	padding: 1rem 8%;
}
.site-footer-link {
	margin-right: 2.4rem;
}

// STYLES

.site-header,
.site-header-link {
	background-color: #F0A742;
	color: #ffffff;
}

.main-block {
	background-color: #E7E7ED;
}

.nav-block,
.section-block {
	background-color: #ffffff;
}

.page-author,
.post-author,
.section-block-link,
.curriculum-activity-link {
	color: #F0A742;
}

.post-header-title-link,
.post-title-link {
	@extend h2;
}


.site-footer {
  background-color: #24929B;
}
.site-footer-link {
	color: #ffffff;
}
.site-footer-link:focus,
.site-footer-link:hover  {
  color: #F0A742;
}
