// TYPOGRAPHY

@import url(https://fonts.googleapis.com/css?family=Arvo:400,400italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);

$serif: "Arvo", serif;
$sans-serif: "Roboto", sans-serif;

:root {
	font: 16px $sans-serif;
	line-height: 1.625rem;
	color: #666666;
}

h1, h2, h3, h4, nav, footer {
	font-family: $serif;
}
h1 {
	font-size: 3rem;
	line-height: 3.625rem;
}
h2 {
	font-size: 2.25rem;
	line-height: 2.75rem;
}
h3 {
	font-size: 1.75rem;
	line-height: 2rem;
}
h4 {
	font-size: 1rem;
	line-height: 2.25rem;
}

.site-header-title {
	font-size: 2.5rem;
}
.site-header-description {
	font-family: $serif;
	font-style: italic;
}

.nav-block > .menu > li > a {
	font-size: 1.1rem;
}
.menu-link {
	@extend nav;
  font: $serif;
  line-height: 2.7;
}

// BASE
body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.outer-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 900px;
	margin-bottom: -50px;
}

.inner-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 900px;
}

.site-header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	width: inherit;
	height: 88px;
}
.header-logo {
	width: 200px;
	height: 36px;
}

.nav-block {
	width: inherit;
  height: 3rem;
	padding: 0rem 3.3rem;
	margin-bottom: 25px;
}
.nav-block > .menu {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0;
	margin: 0;
}
.section-block {
	width: 800px;
	min-height: 246px;
	margin-bottom: 20px;
  padding: 2rem 5rem 3rem 7rem;
}
.section-block_home {
	@extend .section-block;
	padding-left: 5.2rem;
}
/*.section-block_home::before {
	display: block;
	position: absolute;
	content: "";
	left: 23.2%;
	width: 11px;
	height: 72px;
	margin: 40px 2px;
	background-color: #F0A742;
}*/
._post {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem 1rem 6rem;
}
.post-content {
	flex-basis: 70%;
}
.post {
	width: 800px;
}
.metabox {
	padding: 2rem 4rem;
	border: 3px #24929B solid;
}
.site-footer {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 800px;
	height: 65px;
	padding: 38px;
	margin-top: 2%;
}
// STYLES
body {
	background-color: #F3B968;
}

h1, h2, h3, nav {
	color: #24929B;
}
h4, a {
	color: #F0A742;
}

.outer-wrapper,
.inner-wrapper {
	background-color: #E7E7ED;
}

.breadcrumb {
	list-style-type: none;
	padding-left: 0;
	display: flex;
	flex-wrap: wrap;
}
.breadcrumb a:after {
	display: inline-block;
	content: "\25ba";
	vertical-align: middle;
	padding: .5rem;
	font-size: .8rem;
}

.site-header,
.site-header-link {
	background-color: #F0A742;
	color: #ffffff;
}

.nav-block,
.section-block {
	background-color: #ffffff;
}

.nav-block > .menu > .active > .menu-link {
	color: #24929B;
}

.leading-arrow {
	padding: 1px 10px;
	border: 1px solid #F0A742;
	border-radius: 4px;
}

.page-author,
.post-author,
.section-block-link,
.curriculum-activity-link {
	color: #F0A742;
}

.post-header-title-link,
.post-title-link {
	@extend h2;
}

.site-footer {
  background-color: #24929B;
}
.site-footer-link {
	color: #ffffff;
}
.site-footer-link:focus,
.site-footer-link:hover  {
  color: #F0A742;
}

// TYPOGRAPHY
.menu ul a {
  font-size: 1rem;
}

// BASE & BEHAVIOR
.menu:first-of-type > li > .menu,
.menu:first-of-type > li > .menu > li > .menu > li {
  display: none;
}
.menu:first-of-type > li:hover > .menu,
.menu:first-of-type > li:focus > .menu,
.menu:first-of-type > li > .menu > li:hover > .menu > li,
.menu:first-of-type > li > .menu > li:focus > .menu > li {
  display: block;
	background-color: #111;
}
.menu:first-of-type > li:hover > .menu,
.menu:first-of-type > li:focus > .menu {
  border-top: .5rem solid #65B2B9;
  border-bottom: 1rem solid #65B2B9;
}
.menu ul {
  position: absolute;
  top: 8.5rem;
  left: calc(20.35%);
  overflow: hidden;
  min-width: 800px;
}

.menu ul > li ul {
  visibility: hidden;
}

// STYLE
.menu a {
	color: #F0A742;
}
.menu ul {
	color: #F3B968;
  background-color: #65B2B9;
  padding: 0;
}
.menu ul a {
  background-color: #65B2B9;
  padding-left: 3rem;
  color: #ffffff;
}
.menu ul a:hover,
.menu ul a:focus {
	background-color: #ffffff;
  color: #24929B;
}
.nav-block > .menu > li:hover > a,
.nav-block > .menu > li:focus > a {
  color: #65B2B9;
}

// ARROWS
.nav-block > .menu > li > a:before {
  display: inline-block;
  content: "\25ba";
  vertical-align: middle;
  padding: .5rem;
  font-size: .8rem;
}
.nav-block > .menu > li:hover > a:before {
  transform: rotate(90deg);
}

// RESPONSIVENESS
// mobile
@media (min-width: 147px) and (max-width: 480px) {
	.site-header-description {
		display: none;
	}
	.nav-block {
		height: auto;
		background-color: #E7E7ED;
	}
	.nav-block > .menu {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.nav-block > .menu {
		background-color: #ffffff;
	}
	.section-block {
		width: 30rem;
		min-height: 123px;
		margin-bottom: 10px;
		padding: 2rem 5rem 3rem 7rem;
	}
	.site-footer {
		width: 40rem;
		height: auto;
		display: flex;
		flex-direction: column;
		padding: 10px;
	}
	.menu ul {
	  position: absolute;
	  top: 21rem;
	  left: 0;
	  overflow: hidden;
	  min-width: 400px;
	}
}
