// TYPOGRAPHY

@import url(https://fonts.googleapis.com/css?family=Arvo:400,400italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:500,400,300);

$serif: "Arvo", serif;
$sans-serif: "Roboto", sans-serif;

:root {
	font: 16px $sans-serif;
	line-height: 1.625rem;
	color: #666666;
}

h1, h2, h3, h4, h5, nav, header, footer {
	font-family: $serif;
}
h1 {
	font-size: 3rem;
	line-height: 3.625rem;
}
h2 {
	font-size: 2.25rem;
	line-height: 2.75rem;
}
h3 {
	font-size: 1.75rem;
	line-height: 2rem;
}
h4 {
	font-size: 1.25rem;
	line-height: 1.625rem;
}
h5 {
	font-size: 1rem;
	line-height: 1.625rem;
}

blockquote {
	font-weight: lighter;
	font-style: italic;
	font-size: 1.25rem;
	line-height: 26px;
}

.site-header-title {
	font-size: 2.5rem;
}
.site-header-description {
	font-style: italic;
}
.nav-block > .menu > li > a {
	font-size: 1rem;
}
.menu-link {
	@extend nav;
  line-height: 2.7;
}

.home-call-to-action {
	font-size: 1.2rem;
}
// BASE
body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.outer-wrapper, .inner-wrapper,
.site-header, .nav-block, .section-block,
.site-footer {
	width: 100vw;
}

.outer-wrapper {
	width: 70%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: -50px;
}

.inner-wrapper {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	position: relative;
}

.site-header {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 88px;
}
.header-logo {
	width: 200px;
	height: 36px;
}

.nav-block {
	height: auto;
	margin-bottom: 25px;
}
.nav-block > .menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	padding: 0 4%;
	margin: 0;
}
.section-block {
	width: 90%;
	min-height: 246px;
	margin-bottom: 20px;
	padding: 5% 10%;
}
.section-block_home {
	@extend .section-block;
}

._post {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.post-content {
	flex-basis: 70%;
}
.post {
	margin-left: 10%;
	min-width: 100%;
}
.metabox {
	padding: 2%;
	border: 3px #24929B solid;
}
.site-footer {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	height: auto;
	padding: 1.5rem;
	margin-top: 2%;
}
// STYLES
body {
	background-color: #F3B968;
}

h1, h2, h3, h4, h5, nav,
strong, blockquote {
	color: #24929B;
}

a {
	color: #F0A742;
}

// list marker styling hack
.section-block ul:not(.menu) {
	margin: 0.75rem 0;
	padding: 0 1rem;
	list-style: none;
}

.section-block ul:not(.session):not(.map) > li:before {
	content: "";
	border-color: transparent #F0A742;
	border-style: solid;
	border-width: 0.35rem 0 0.35rem 0.45rem;
	display: inline-block;
	height: 0;
	width: 0;
	text-align: center;
	left: -1rem;
	top: 0px;
	position: relative;
}

ol:not(.breadcrumb) {
	counter-reset: li;
}
ol:not(.breadcrumb) > li {
	position: relative;
	margin: 0 0 6px 2em;
	padding: 4px 8px;
	list-style: none;
}
ol:not(.breadcrumb) > li:before {
	content: counter(li, decimal);
	counter-increment:li;
	position: absolute;
	top: 1rem;
	left: -2rem;
	margin-right: 1rem;
	padding: .3rem;
	color: #F0A742;
	font-size: 1.8rem;
	font-family: $serif;
}

.outer-wrapper,
.inner-wrapper {
	background-color: #E7E7ED;
}

.breadcrumb {
	display: flex;
	flex-wrap: wrap;
	line-height: 1.2;
	list-style-type: none;
	padding-left: 0;
	margin-bottom: -2%;
}
.breadcrumb a:after {
	display: inline-block;
	content: "\25ba";
	vertical-align: middle;
	padding: .5rem;
	font-size: .8rem;
}

.site-header,
.site-header-link {
	background-color: #F0A742;
	color: #ffffff;
}

.continue-to-resource-link {
	font-weight: bold;
}

.nav-block,
.section-block {
	background-color: #ffffff;
}

.nav-block > .menu > .active > .menu-link {
	color: #24929B;
}

.home-content-wrapper {
	padding: 0 3rem;
	border-style: solid;
  border-image: linear-gradient(to bottom, #fff 40px, #F0A742 40px, #F0A742 105px, #fff 105px, #fff 100%)
	0 0 0 100%/0 0 0 12px stretch;
}

.leading-arrow {
	padding: 1px 10px;
	border: 1px solid #F0A742;
	border-radius: 4px;
}

.page-author,
.post-author,
.section-block-link,
.curriculum-activity-link {
	color: #F0A742;
}

.post-header-title-link,
.post-title-link {
	@extend h2;
}

.site-footer {
  background-color: #24929B;
}
.site-footer-link {
	color: #ffffff;
}
.site-footer-link:focus,
.site-footer-link:hover  {
  color: #F0A742;
}
