// TYPOGRAPHY

.menu ul a {
  font-size: 1rem;
}
// BEHAVIOR

.menu ul li,
.menu ul li ul {
  display: none;
}
.menu li:focus li,
.menu li:hover li,
.menu ul li:focus ul,
.menu ul li:hover ul {
	display: block;
}
.menu ul {
  position: absolute;
  top: calc(13.3%);
  left: calc(35%);
  min-width: 61.3%;
  overflow: hidden;
	z-index: 1;
}
.menu ul > li ul {
  position: relative;
}

// style
.menu a {
	color: #F0A742;
}
.menu ul {
  background-color: #65B2B9;
	color: #F3B968;
}
.menu ul a {
  background-color: #65B2B9;
  color: #ffffff;
}
.menu ul a:hover,
.menu ul a:focus {
	background-color: #ffffff;
  color: #24929B;
}
