// behavior
.menu ul li,
.menu ul li ul {
  display: none;
}
.menu li:focus li,
.menu li:hover li,
.menu ul li:focus ul,
.menu ul li:hover ul {
	display: block;
}
.menu ul {
  position: absolute;
  top: calc(14.6%);
  left: calc(32.1%);
  min-width: 63.1%;
  height: auto;
  overflow: hidden;
	z-index: 1;
}
.menu ul > li ul {
  position: relative;
}

// style
.menu li {
	padding: .7rem;
}
.menu a {
	color: #F0A742;
}
.menu ul {
  background-color: #65B2B9;
	color: #F3B968;
}
.menu ul a {
  background-color: #65B2B9;
  color: #ffffff;
}
.menu ul a:hover,
.menu ul a:focus {
	background-color: #ffffff;
  color: #24929B;
}
