// RESPONSIVENESS
// larger screens
@media (min-width: 375px) {
	.menu ul {
		position: absolute;
		left: 5%;
		right: 5%;
	}
}
@media (max-width: 768px) {
	.inner-wrapper, .outer-wrapper {
		width: 100%;
	}
}
@media (max-width: 634px) {
	.site-footer {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}
}
@media (max-width: 450px) {
 .nav-block {
	 flex-direction: column;
	 flex-wrap: nowrap;
	 align-items: center;
 }
 .section-block {
	 width: 100vw;
 }
 .outer-wrapper {
	 padding: 0;
	 margin:0;
	 width: auto;
	 height: auto;
	 position: static;
 }
}
@media (max-width: 530px) {
	.site-header-description {
		display: none;
	}
}
@media (min-width: 800px) and (max-width: 1024px) {
	.outer-wrapper {
		width: 90%;
	}
}
