.site-header,
.site-header-link {
	background-color: #F0A742;
	color: #ffffff;
}

.main-block {
	background-color: #E7E7ED;
}

.nav-block,
.section-block {
	background-color: #ffffff;
}

.site-footer {
  background-color: #24929B;
}
.site-footer-link {
	color: #ffffff;
}
.site-footer-link:focus,
.site-footer-link:hover  {
  color: #F0A742;
}
