---
layout: default
---
<section class="section-block">
  {% include breadcrumb.html %}
  <h1>{{ page.title }}</h1>
  {% unless page.author == nil or page.date == nil or page.summary == nil %}
  <p><b>Credits</b> <span class="page-author"> {{ page.author }} </span>
     &ensp; <b>Last Updated</b>  {{ page.date | date: "%m/%d/%Y" }} </p>
  <p>{{ page.summary }}</p>
  {% endunless %}
</section>

{% if page.adids != nil %}
<section class="section-block">
  <p><h4>ADIDS Element </h4>{{ page.adids }}</p>
  <p><h4>Parent Topic(s) </h4>{{ page.parent }}</p>
  <p><h4>Duration </h4>{{ page.duration }}</p>
</section>
{% endif %}

<section class="section-block">
    <h5>Have feedback on this content? Does something need updating?</h5>
    <p>Leave a note anywhere on this page - look for the <a href="/level-up/community/contribute/#annotate-and-discuss-content-with-hypothesis">Hypothes.is</a> toolbar in the upper right-hand corner.</p>
    <h5>Have content you'd like to share with other trainers?</h5>
    <p>Email us at <a href="mailto:levelup@riseup.net">levelup@riseup.net</a> (<a href="http://pgp.mit.edu/pks/lookup?op=get&search=0x207BFB9591A638BE">GPG public key here</a>) or read our guide on <a href="/level-up/community/contribute/#how-can-i-contribute-content">Contributing to LevelUp</a>.</p>
    <p>&nbsp</p>
</section>

<section class="section-block">
  {{ content }}
</section>
