---
layout: default
---
<section class="section-block _top">
  <h1>{{ page.title }}</h1>
  <p><span class="page-author"> {{ page.author }} </span>
    last updated: {{ page.date }}
  </p>
</section>

<section class="section-block -shift">
  {{ content }}
</section>

<section class="section-block -shift">

  <ul class="session">
  {% for item in page.activity %}
    {% unless item.name == nil or item.url == nil %}
      <h3>Activity: </h3>
      <li><a href="{{ item.url }}" class="session-link">{{ item.name }}</a></li>
    {% endunless %}
  {% endfor %}
  </ul>

  {% for item in page.input %}
  <ul class="session">
      {% unless item.name == nil or item.url == nil %}
      <h3>Input: </h3>
        <li><a href="{{ item.url }}" class="session-link">{{ item.name }}</a></li>
      {% endunless %}
    {% endfor %}
  </ul>

  <ul class="session">
    {% for item in page.deepening %}
      {% unless item.name == nil or item.url == nil %}
      <h3>Deepening: </h3>
        <li><a href="{{ item.url }}" class="session-link">{{ item.name }}</a></li>
      {% endunless %}
    {% endfor %}
  </ul>

  <ul class="session">
    {% for item in page.synthesis %}
      {% unless item.name == nil or item.url == nil %}
      <h3>Synthesis: </h3>
        <li><a href="{{ item.url }}" class="session-link">{{ item.name }}</a></li>
      {% endunless %}
    {% endfor %}
  </ul>

</section>
