---
layout: default
---
<section class="section-block _top">
  {% include breadcrumb.html %}
  <h1>{{ page.title }}</h1>
  <p><span class="page-author"> {{ page.author }} </span>
    last updated: {{ page.date }}
  </p>
</section>

<section class="section-block">
  {{ content }}
</section>

<section class="section-block">
  <ul class="session">
  <h3>Activity and Discussion: </h3>
  {% for item in page.activity %}
    {% if item.name == nil or item.url == nil %}
    <li>N/A</li>
    {% endif %}
    {% unless item.name == nil or item.url == nil %}
    <li><a href="{{ site.baseurl }}{{ item.url }}" class="session-link">{{ item.name }}</li>
    {% endunless %}
  {% endfor %}
  </ul>

  <ul class="session">
  <h3>Input: </h3>
  {% for item in page.input %}
    {% if item.name == nil or item.url == nil %}
    <li>N/A</li>
    {% endif %}
    {% unless item.name == nil or item.url == nil %}
    <li><a href="{{ site.baseurl }}{{ item.url }}" class="session-link">{{ item.name }}</li>
    {% endunless %}
  {% endfor %}
  </ul>

  <ul class="session">
  <h3>Deepening: </h3>
  {% for item in page.deepening %}
    {% if item.name == nil or item.url == nil %}
    <li>N/A</li>
    {% endif %}
    {% unless item.name == nil or item.url == nil %}
    <li><a href="{{ site.baseurl }}{{ item.url }}" class="session-link">{{ item.name }}</li>
    {% endunless %}
  {% endfor %}
  </ul>

  <ul class="session">
  <h3>Synthesis: </h3>
  {% for item in page.synthesis %}
    {% if item.name == nil or item.url == nil %}
    <li>N/A</li>
    {% endif %}
    {% unless item.name == nil or item.url == nil %}
    <li><a href="{{ site.baseurl }}{{ item.url }}" class="session-link">{{ item.name }}</li>
    {% endunless %}
  {% endfor %}
  </ul>

</section>
